:root {
    --color-principal: #5300C8; /* Azul */
    --color-secundario: #c004d9; /* Verde */
    
}



header {
    background-color: var(--color-principal);
    height: 10rem;
}
/* seccion productos */

#productos-container {
    display: flex;
    max-width: 100%;

}
.card {
    height: 100%; /* Asegura que todas las tarjetas tengan la misma altura */
}

.card-img-top {
    width: 100%; /* Asegura que las imágenes ocupen todo el ancho de la tarjeta */
    height: 200px; /* Fija la altura de las imágenes */
    object-fit: cover; /* Mantiene la proporción y recorta la imagen si es necesario */
}

/* Aseguramos que el body ocupe toda la altura disponible */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Cuerpo del contenido */
main {
    flex: 1; /* Hace que el main ocupe el espacio restante */
}

/* Estilos del footer */
footer {
    background-color: var(--color-principal);
    width: 100%;
    padding: 20px 0;
    color: white;
    text-align: center;
    position: relative;
    margin-top: auto; /* Esto asegura que el footer se quede al final */
}



@media (max-width: 480px) {
 
    

    /* El contenedor de productos (tarjetas) debe ocupar todo el ancho y centrarse */
    #productos-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Centrar las tarjetas */
        padding-left: 0;
        padding-right: 0;
        gap: 10px; /* Espaciado entre las tarjetas */
    }

    /* Las tarjetas deben ocupar un porcentaje de ancho más pequeño */
    .col-md-4 {
        width: 100%; /* Cada tarjeta ocupará el 100% del ancho disponible */
        max-width: 300px; /* Para que no se haga demasiado grande */
    }

    /* Aseguramos que el formulario esté en la parte superior */
    .seccion__productos {
        order: 1; /* Colocar el formulario arriba */

    /* Opcionalmente, puedes ajustar el formulario para que ocupe el ancho completo */
    #formulario {
        width: 100%;
        max-width: 500px; /* Para evitar que el formulario sea demasiado ancho */
    }

    /* Centrar los botones del formulario */
    .container.d-flex {
        
        justify-content: center; /* Centrar los botones */
        gap: 20px; /* Espaciado entre los botones */
    }
    .card {
        margin-left: 70px;
        width: 90%; /* Puedes ajustar este valor según el diseño que desees */
    }
    h1 {
        text-align: center;
        margin-top: 15px;
    }
}
}